.App {
  min-width: 200px;

  .body-section {
    padding: 20px 25px;
    display: flex;
    flex-direction: row;
    overflow: scroll;
  }

  .btn {
    cursor: pointer;
    &:hover {
      opacity: 0.4;
    }
  }
}