.header-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  color: #ffffff;
  padding: 20px 25px;
  font-size: 1.5rem;
  box-sizing: border-box;

  .left-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    img {
      width: 35px;
      height: 35px;
      border-radius: 100%;
      border: 1px solid #ffffff;
      margin-right: 10px;
    }
    .username{
      margin-right: 5px;
      font-weight: bold;

    }
    .board-title {

    }
  }

  .right-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .menu-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      svg {
        font-size: 25px;
      }
    }
  }
}