.header-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #000000;
  color:#ffffff;

  .left-wrapper {
    .username{

    }
    .board-title {

    }
  }

  .right-wrapper {
    .manu-bar {

    }
  }
}