.list-section {
  padding: 10px;
  border: 1px solid #e9e9e9;
  background-color: #efefef;
  border-radius: 5px;
  height: 85vh;
  //width: 28vw;
  min-width: 310px;
  margin-right: 1rem;

  &:last-child {
    margin-right: 0px;
  }

  .list-wrapper {
    display: flex;
    flex-direction: column;

    .header-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-content: center;
      margin-bottom: 10px;

      .left-wrapper {
        display: flex;
        flex-direction: row;
        align-content: center;

        .card-count-wrapper {
          margin-right: 13px;
          background-color: gray;
          padding: 6px 7.5px 0px 8.5px;
          border-radius: 100%;

          .card-count {
            color: white;
          }
        }

        .list-title {
          margin-top: 4px;
          font-size: 1.2rem;
          font-weight: 600;
        }
      }

      .right-wrapper {
        display: flex;
        flex-direction: row;
        align-content: center;
        margin-top: 2px;
        font-size: 1.2rem;

        .card-add-btn {
          margin-right: 5px;
          cursor: pointer;
        }

        .list-setting-btn {
          cursor: pointer;

        }
      }
    }

    .card-list-wrapper {

    }
  }
}
